.detail {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  top: 50px;
  display: grid;
  flex-direction: column;
  align-items: center;
  padding: 37px 0;
  gap: 10px;
  grid-template-columns: 320px;
  grid-template-rows: 232px 100px repeat(5, 36px) auto;
  justify-content: center;
  box-shadow: -2px 0px 3px 0px rgba(0, 0, 0, 0.1);
  z-index: 3;
}
.detail__image {
  width: 320px;
  height: 232px;
}
.detail__grid {
  display: grid;
  grid-template-columns: 90px auto;
  grid-template-rows: repeat(2, 1fr);
  height: 100px;
  align-items: center;
  gap: 0 20px;
  width: 320px;
}
.detail__flag {
  grid-row: span 2;
  justify-self: flex-end;
  width: 80px;
}
.detail__country {
  color: #3fb5ff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  justify-self: left;
  text-align: left;
}
.detail__continent {
  color: #7a7a7a;
  font-weight: 500;
  justify-self: left;
  font-size: 18px;
  align-self: flex-start;
}

.detail__info {
  color: #3fb5ff;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  width: 320px;
  line-height: 1;
}
.detail__list {
  background-color: #fff;
  width: 320px;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
  height: 100%;
  overflow-y: auto;
}
.detail__list-item {
  text-align: left;
  color: #7a7a7a;
  font-size: 18px;
}
.detail__data {
  color: #7a7a7a;
  font-weight: 500;

  font-size: 18px;
}

.detail__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .detail {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
    top: 120px;
  }
}
