.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, minmax(300px, 80%));
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  height: calc(100vh - 170px);
}

@media screen and (min-width: 480px) {
  .grid {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, minmax(100px, 432px));
    gap: 10px 15px;
  }
}
