.card-skeleton {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: flex;
  animation: skeleton-animation 1s linear infinite alternate;
}

.card-skeleton span {
  display: block;
}

@keyframes skeleton-animation {
  0% {
    background: #cccccc;
  }
  100% {
    background: #dddddd;
  }
}
