#root {
  width: 100%;
  text-align: center;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 10px;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .app {
    display: grid;
    grid-template-columns: minmax(100px, 250px) auto;
    grid-template-rows: 100vh;
  }
  .main {
    padding: 20px 10px;
  }
}
